:root {
  --nav-width: 92px;

  /*Colors*/
  --first-color: #0C5DF4;
  --bg-color: #12192C;
  --sub-color: #B6CEFC;
  --white-color: #FFFFFF;

  /*Fonte e Tipografia*/
  --body-font: 'Ubuntu', sans-serif;
  --large-font-size: 1.5rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;

  /*z index*/
  --z-fixed: 100;
}

/*Base*/
*,::before,::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 2rem 0 0 6.75rem;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  transition: .5s;
}

h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
}

/*sidebar*/
.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--white-color);
  padding: 1.5rem 1.5rem 2rem;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav_brand {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.nav_toggle {
  font-size: 1.25rem;
  padding: .75rem;
  cursor: pointer;
}

.nav_logo {
  color: var(--white-color);
  font-size: var(--large-font-size);
  font-weight: 700;
}

.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  padding: .75rem;
  color: var(--white-color);
  border-radius: .5rem;
  margin-bottom: 1rem;
  transition: .3s;
  cursor: pointer;
}

.nav_link:hover {
  background-color: var(--first-color);
}

.nav_icon {
  margin-right: .73rem;
  font-size: 1.25rem;
}

.nav_name {
  font-size: var(--small-font-size);
}

.expandir {
  width: calc(var(--nav-width) + 9.25rem);
}

.body-pd {
  padding: 2rem 0 0 16rem;
}

.active {
  background-color: var(--first-color);
}